<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zerone.wgp.activities">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AirPlaneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            //主要是防止屏幕旋转调用生命周期的
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zerone.wgp.activities.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
        </provider>

        <!-- <activity android:name=".HandlerDemoActivity"> -->
        <!-- </activity> -->
        <!-- <activity android:name=".HandlerThreadDemo"> -->
        <!-- </activity> -->
        <!--<activity android:name=".HandlerDemo">-->
        <!--</activity>-->
    </application>

</manifest>